In [54]:
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow_probability as tfp
from tensorflow.keras.initializers import Zeros
from tensorflow.linalg import LinearOperatorFullMatrix
from tensorflow.linalg import LinearOperatorKronecker

from IPython.display import display
import os

os.chdir("/Users/cornederuijt/github/GCM/") # Adjust after construction of the package

In [43]:
inputs

<tf.Tensor: shape=(4, 4), dtype=float32, numpy=
array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]], dtype=float32)>

In [73]:
# With tf
T = 4 # including the 0 state
zero_init = tf.zeros_initializer()
w_init = tf.random_normal_initializer()

# Create the weights
w = tf.Variable(initial_value = w_init(shape=(int(T*(T-1)/2), ), dtype='float32'), trainable=True)

# To triangular matrix
w = tfp.math.fill_triangular(w, upper=True)

display(pd.DataFrame(w.numpy()))

# Multiply the mask with the weight matrix, given t=2:
nlp_lst = []
inputs = tf.eye(T-1)

for t in range(T-1):
    cur_input = tf.gather(inputs, t, axis=0)
    cur_input = tf.tile(tf.reshape(cur_input, shape=(1, -1)), [T-1, 1])
    logis = tf.multiply(cur_input_mat, w)

    logis_vec = tf.gather(w, t, axis=1)

    # Create the index matrices
    I_end = tf.constant([[0,0,0,1],
                         [0,0,0,1],
                         [0,0,0,1],
                         [0,0,0,1]],dtype="float32")

    I_neg = tf.math.subtract(tf.ones((4,4),dtype='float32'), I_end)

    # Kronecker, Kronecker, Kronecker all the way. Oh how fine, it is to ride.. #
    res1 = LinearOperatorKronecker([LinearOperatorFullMatrix(logis),LinearOperatorFullMatrix(I_end)]).to_dense()
    
    
    
    
    
# np.vstack((np.hstack((np.zeros((16, 4)), np.kron(A,I_1), np.zeros((16,1)))), np.zeros((5, states+1))))
    
    res2 = LinearOperatorKronecker([LinearOperatorFullMatrix(tf.linalg.diag(logis_vec)), LinearOperatorFullMatrix(I_neg)]).to_dense()

    out = tf.reshape(tf.math.add(res1, res2)

display(pd.DataFrame(tf.reshape(out, shape=(-1,1)).numpy()))

          0         1         2
0 -0.016855 -0.017013 -0.058524
1  0.000000 -0.026119  0.037359
2  0.000000  0.000000 -0.021091

            0
0   -0.058524
1   -0.058524
2   -0.058524
3   -0.000000
4    0.000000
..        ...
139  0.000000
140 -0.021091
141 -0.021091
142 -0.021091
143 -0.021091

[144 rows x 1 columns]

In [ ]:
t=3

inputs = tf.eye(N)

cur_input = tf.gather(inputs, t, axis=0)
cur_input = tf.tile(tf.reshape(cur_input, shape=(1, -1)), [N, 1])
logis = tf.multiply(cur_input, w)

cur_mask = tf.multiply(cur_input, self._wout_mask)

inp_lst.append(tf.reshape(
    tf.multiply(tf.transpose(tf.transpose(tf.exp(logis)) / tf.reduce_sum(tf.exp(logis), axis=1)),
                  cur_mask), shape=(1, -1)))

kronecker_product

In [ ]:
np.kron(np.diag(A[:, 3]), I_2)

In [84]:
# Same with numpy
states=21

np.random.seed(922)
A =np.triu(np.random.gamma(1,1,16).reshape(4,4))

display(pd.DataFrame(A))

I_1 = np.array([[0,0,0,1],
             [0,0,0,1],
             [0,0,0,1],
             [0,0,0,1]])

I_2 = 1-I_1

#display(pd.DataFrame(np.vstack((np.hstack((np.zeros((16, 4)), np.kron(A,I_1), np.zeros((16,1)))), np.zeros((5, states))))))

display(pd.DataFrame(np.kron(np.diag(A[:, 3]), I_2)))

#display(pd.DataFrame(np.kron(A,I_1)+np.kron(np.diag(A[:, 3]), I_2)))

# display(pd.DataFrame(np.kron(A,I_1)))

# A_diag = np.diag(A[:, 3])

# display(pd.DataFrame(np.kron(A_diag, I_2)))

          0         1         2         3
0  0.445541  0.349589  2.296299  0.735298
1  0.000000  0.199918  0.368883  0.574603
2  0.000000  0.000000  0.265480  0.222290
3  0.000000  0.000000  0.000000  0.612530

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.735298,0.735298,0.735298,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0
1,0.735298,0.735298,0.735298,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0
2,0.735298,0.735298,0.735298,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0
3,0.735298,0.735298,0.735298,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0
4,0.000000,0.000000,0.000000,0.0,0.574603,0.574603,0.574603,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0
5,0.000000,0.000000,0.000000,0.0,0.574603,0.574603,0.574603,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0
6,0.000000,0.000000,0.000000,0.0,0.574603,0.574603,0.574603,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0
7,0.000000,0.000000,0.000000,0.0,0.574603,0.574603,0.574603,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.0
8,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.22229,0.22229,0.22229,0.0,0.00000,0.00000,0.00000,0.0
9,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.22229,0.22229,0.22229,0.0,0.00000,0.00000,0.00000,0.0
10,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.22229,0.22229,0.22229,0.0,0.00000,0.00000,0.00000,0.0
11,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.22229,0.22229,0.22229,0.0,0.00000,0.00000,0.00000,0.0
12,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.00000,0.0,0.61253,0.61253,0.61253,0.0
13,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.00000,0.0,0.61253,0.61253,0.61253,0.0
14,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.00000,0.0,0.61253,0.61253,0.61253,0.0
15,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.00000,0.00000,0.0,0.61253,0.61253,0.61253,0.0

In [114]:
N = 11

w_init = tf.random_normal_initializer()
zero_init = tf.zeros_initializer()

w = tf.Variable(initial_value = w_init(shape=(int(N*(N-1)/2), ), dtype='float32'), trainable=True)


W_mat_init = 

for 

w = tfp.math.fill_triangular(w, upper=True)
w = tf.concat([w, zero_row_var], axis=0)
w = tf.concat([zero_col_var, w], axis=1)

inputs = tf.constant(np.eye(N), dtype='float32')
display(pd.DataFrame(inputs.numpy()))

inputs = tf.tile(inputs, [N, 1])

display(pd.DataFrame(w.numpy()))
display(pd.DataFrame(inputs.numpy()))

# logis = tf.multiply(inputs, w)


# display(pd.DataFrame(np.triu(inputs, k=1)))

# input_mask = tf.linalg.band_part(inputs, )

# res = tf.transpose(tf.transpose(tf.exp(logis))/tf.reduce_sum(tf.exp(logis), axis=1))

# display(pd.DataFrame(res.numpy()))




# np.vstack((np.hstack((np.zeros((16, 4)), np.kron(A,I_1), np.zeros((16,1)))), np.zeros((5, states+1))))


# phi_upper_tr = np.triu(np.tile(np.hstack((np.zeros(4), np.tile(np.eye(4)[3], list_size), np.zeros(1))), 
#(no_states,1)), k=4)

     0    1    2    3    4    5    6    7    8    9    10
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1   0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
9   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
10  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

,0,1,2,3,4,5,6,7,8,9,10
0,0.0,-0.052578,-0.050022,-0.027325,0.004602,0.033884,-0.137961,0.017378,0.107624,-0.109556,-0.051507
1,0.0,0.000000,0.039399,0.014342,0.028940,-0.020218,0.050483,-0.028118,0.080778,-0.072664,0.023140
2,0.0,0.000000,0.000000,0.072949,0.007610,-0.023103,0.042633,0.018099,-0.051879,0.049019,0.024557
3,0.0,0.000000,0.000000,0.000000,-0.013557,-0.012752,-0.011007,-0.075288,-0.016242,0.079280,-0.030743
4,0.0,0.000000,0.000000,0.000000,0.000000,-0.047786,0.004266,-0.008942,0.054916,-0.011148,-0.053006
5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,-0.017437,-0.074588,-0.064547,0.108113,0.040932
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.060544,0.036754,0.058711,0.078269
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.078028,-0.030383,0.054075
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.033696,-0.065491
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.038784
10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

      0    1    2    3    4    5    6    7    8    9    10
0    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
116  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
117  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
118  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
119  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
120  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[121 rows x 11 columns]

In [123]:
t1 = tf.Variable(np.ones((3,3)))
t2 = tf.Variable(1-np.eye(3,3))

t3 = tf.multiply(tf.linalg.band_part(t1, 0, -1), t2)

display(t3)

display(tf.gather(t3, 1, axis=0))

res = tf.gather(t3, 1, axis=0)

display(tf.tile(tf.reshape(res, shape=(1,-1)), [10, 1]))

display(tf.reshape(t3, shape=(1, -1)))

<tf.Tensor: shape=(3, 3), dtype=float64, numpy=
array([[0., 1., 1.],
       [0., 0., 1.],
       [0., 0., 0.]])>

<tf.Tensor: shape=(10, 3), dtype=float64, numpy=
array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])>

In [10]:
a = np.array([0,0,0,1])
I = np.eye(5)

np.kron(I,np.expand_dims(a, axis=1))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.]])

In [30]:
np.triu(np.tile(np.hstack((np.zeros(4), np.tile(np.eye(4)[3], list_size))), (no_states,1)))

array([[0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
        0., 0., 0., 1., 0., 0., 0., 1.]])

In [56]:
# The positive activation matrix for A:
list_size = 5
no_states = (list_size + 1) * 4 + 1

phi_A_diag = np.vstack((np.hstack((np.kron(np.eye(list_size + 1), np.tile(np.array([0,0,1,0]), (4, 1))), 
                                   np.zeros((no_states-1,1)))),
                                   np.zeros(no_states)))

phi_upper_tr = np.triu(np.tile(np.hstack((np.zeros(4), np.tile(np.eye(4)[3], list_size), np.zeros(1))), (no_states,1))
                      ,k=4)


pd.DataFrame(phi_A_diag + phi_upper_tr).to_csv("./data/small_example/phi_A_check.csv")

In [59]:
# The negative activation matrix for A:
phi_A_neg = np.vstack((np.hstack((np.kron(np.eye(list_size + 1), np.tile(np.array([1,0,1,0]), (4, 1))), 
                                   np.zeros((no_states-1,1)))),
                                   np.zeros(no_states)))

display(pd.DataFrame(phi_A_neg))

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
# The positive activation matrix for gamma:
list_size = 5
no_states = (list_size + 1) * 4 + 1

phi_A_diag = np.vstack((np.hstack((np.kron(np.eye(list_size + 1), np.tile(np.array([0,1,0,0]), (4, 1))), 
                                   np.zeros((no_states-1,1)))),
                                   np.zeros(no_states)))

phi_upper_tr = np.triu(np.tile(np.hstack((np.zeros(4), np.tile(np.eye(4)[3], list_size), np.zeros(1))), (no_states,1))
                      ,k=4)


pd.DataFrame(phi_A_diag + phi_upper_tr).to_csv("./data/small_example/phi_A_check.csv")

In [ ]:
# print(tf.shape(inputs)[0])
N = 10  # Which should be equal to the list size
T = 11

inputs = tf.eye(N)

w = tf.Variable(initial_value=zero_init(shape=(int(T * (T - 1) / 2),), dtype='float32'), trainable=True)


n_states = T * 4 + 1
inp_lst = []

wout = tfp.math.fill_triangular(w, upper=True)

for t in range(N):
    cur_input = tf.gather(inputs, t, axis=0)
    cur_input = tf.tile(tf.reshape(cur_input, shape=(1, -1)), [T - 1, 1])
    logis = tf.multiply(cur_input, wout)

    logis_vec = tf.gather(self._w, t, axis=1)

    # TODO: include the absorbing state
    res1 = LinearOperatorKronecker([LinearOperatorFullMatrix(logis),
                                            LinearOperatorFullMatrix(self._I_end)]).to_dense()

    # n_states - 5, as the absorbing state and the last 4 are not included yet
    res1 = tf.concat([tf.zeros([n_states - 5, 4]), res1, tf.zeros([n_states - 5, 1])], axis=1)
    res1 = tf.concat([res1, np.zeros((5, n_states))], axis=0)

    res2 = LinearOperatorKronecker(
                [LinearOperatorFullMatrix(tf.linalg.diag(logis_vec)),
                 LinearOperatorFullMatrix(self._I_neg)]).to_dense()

    res2 = tf.concat([tf.concat([res2, tf.zeros([n_states - 5, 5])], axis=1), tf.zeros([5, n_states])], axis=0)

    inp_lst.append(tf.reshape(tf.math.add(res1, res2), shape=(-1, 1)))

In [85]:
# print(tf.shape(inputs)[0])
N = 10  # Which should be equal to the list size
T = 11

inputs = tf.eye(N)

w = tf.Variable(initial_value=zero_init(shape=(int(T * (T - 1) / 2),), dtype='float32'), trainable=True)


n_states = T * 4 + 1
inp_lst = []

wout = tfp.math.fill_triangular(w, upper=True)

NameError: name 'tf' is not defined